{% extends 'base.html' %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="text-center mb-4">Registro</h4>

                <form method="POST">
                    <input type="email" name="email" class="form-control mb-3" placeholder="Correo" required>
                    <input type="password" name="password" class="form-control mb-3" placeholder="Contraseña" required>
                    <button class="btn btn-success w-100">Crear cuenta</button>
                </form>

                <p class="text-center mt-3">
                    <a href="{{ url_for('auth.login') }}">Volver al login</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
